:root{
    --orange: #FF7043;      
--orange-light: #FF8A65;  
--orangedark: #D84315;   
--orangetransparent: rgba(255, 138, 101, 0.5);
--dark: #1A202C;         
--dark2: #2D3748;         
--grey: #A0AEC0;          
--white: #FFFFFF;
    --default-z-index: 4 !important;
}

label,p,input{
    color:#FFFFFF;
}

.loading {
    opacity: 0.5; /* Ekranı karart */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.5)); /* Kenarlara doğru kararma efekti */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Diğer içeriklerin üstünde görünmesi için */
    border-color: var(--orange) !important;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--orange) !important; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 500ms linear infinite; /* Döngü animasyonu */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: var(--dark);
}

/* Gradient overlay için */
.background-overlay {
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3 !important;
    background: linear-gradient(
        to bottom,
        black 0%,
        
        #262a3115 100%
    );
    z-index: 1;
}

.main-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.logo-container {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.AppMainLogo {
    z-index: 1;
    width: auto;
    height: 600px !important; 
    max-width: 80%;
    object-fit: contain;
}
.main-title-text{
    position: relative;
    padding-top: 20px;
    color: var(--white);
    z-index: 4;
}
.left-bar-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    height: 100vh;
    width: 10vh;
    z-index: 4 !important;
    background-color: var(--dark) !important;
    display: flex;
    flex-direction: column; /* Dikey düzenleme */ 
    border-right: 1px solid var(--orange);
    overflow: hidden;
}

.left-bar-top {
    flex-shrink: 0;
    padding: 10px, 0;
}
@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.left-bar-middle {
    flex: 1 1 0%; /* Büyüyebilir/küçülebilir, başlangıç boyutu 0 */
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    animation: slideUp 1s ease-out forwards;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    padding: 10px 5px;
}

.left-bar-middle::-webkit-scrollbar {
    display: none;
}
.left-bar-bottom {
    flex :0,0,auto;
    margin-top: auto;
    padding: 10px, 0;
     
}

.left-bar-item-bottom {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}


.left-bar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
   
    padding-bottom: 10%;
    padding-top: 10%;
}
.left-bar-item-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    padding: 5px 0;
    min-height: fit-content;
}
.left-bar-logo{
    width: auto;
    height: 60px;
}
.left-bar-hr{
    margin-top: 10px;
    margin-left: 25%;
    z-index: 10 !important;
    opacity: 1 !important;
    border-top: 3px solid var(--dark2) !important;
}
.user-avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow:  0px 0px 10px 0px var(--orangedark);
}
.user-avatar img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
}

.left-bar-hr-bottom{
    margin-bottom: 10px;
    margin-left: 25%;
    z-index: 10 !important;
    opacity: 1 !important;
}
.server-avatar{
    position: relative;
}
.change-button{
    cursor: pointer;
    background-color: var(--dark2);
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.change-button svg{
    z-index: 10 !important;
    color: var(--white) !important;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    object-fit: cover;
}

.change-button.active {
    background-color: var(--orange) !important;
}

.change-button.active svg {
    color: var(--white) !important;
}

.server-avatar img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow:  0px 0px 10px 0px var(--orangedark);
}

.notification-count {
    z-index: 10 !important;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    -webkit-text-stroke: 1px black; /* Yazı kenarlarını kalınlaştır */
    box-shadow:  0px 0px 10px 0px var(--orangedark);

    background-color: var(--orange) !important;
    color: var(--white);
    font-size: 10px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.user-avatar{
    position: relative;
}

.user-avatar img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-avatar.online img{
    border: 2px solid green;
    box-shadow:  0px 0px 10px 0px green;
}
.server-avatar.online img{
    border: 2px solid green;
    box-shadow:  0px 0px 10px 0px green;
}
.left-menu-servers{
    position: absolute;
    margin-left: 10vh !important;
    z-index: 4 !important;
    background-color: var(--dark) !important;
    position: fixed;
    left: 10px;
    top: 10px;
    bottom: 10px;
    height: 97vh !important;
    width: 35vh !important;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 1px var(--orangedark);
   padding-left: 25px !important;
   padding-right: 5px !important;
    padding: 10px ;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.left-menu-servers-title{
    position: relative;
    background-color: var(--orangedark) !important;
    height: 5vh;
    width: 100%;
    margin-top: 0px;
    flex-shrink: 0;
    border-radius: 10px;
    color: var(--grey);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-menu-servers-title-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
    color: var(--grey);
}
.left-menu-servers-content{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 93%;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px !important;
}
.left-menu-servers-content-channelgroup{
    z-index: 3 !important;
    display: flex;
    position: relative;
    background-color: var(--orangetransparent) !important;
    height: 10%;
    width: 100%;
    padding: 0 !important;
    border-radius: 10px;
}
.channel-group-name {
    flex: 1;
    min-width: 0; /* Taşmayı önlemek için önemli */
    overflow: hidden;
}
.channel-expand{
color: var(--white) !important;
}

.channel-group-name h4 {
    z-index: 4 !important;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--white) !important;
}

.channel-expand {
    flex-shrink: 0; /* İkonun küçülmesini engeller */
    display: flex;
    align-items: center;
    justify-content: center;
}

.servers-container {
    
    transition: all 0.3s ease-in-out;
}

.servers-container.closed {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}

.servers-container.open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    animation: slideRight 0.3s ease-in-out;
}

.left-menu-servers-content-channelgroup h4{
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.left-menu-servers.closed {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;  
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.left-menu-servers.open {
    z-index: 4 !important;
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
    animation: slideRight 0.3s ease-in-out;
}
.main-title-text button{
    position: relative;
  z-index: 4 !important;
  pointer-events: auto !important;
}
.channel-group{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
