.NotificationsMenu {
    position: absolute;
    margin-right: 7vh !important;
    z-index: 4 !important;
    background-color: var(--dark) !important;
    position: fixed;
    right: 10px;
    top: 10px;
    bottom: 10px;
    height: 97vh !important;
    width: 35vh !important;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 1px var(--orangedark);
   padding-left: 25px !important;
   padding-right: 5px !important;
    padding: 10px ;
    scrollbar-width: none;
    overflow-y: auto;
    padding: 10px 5px;
    -ms-overflow-style: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.NotificationsMenu.closed {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

.NotificationsMenu.open {
    transform: translateX(0);
    opacity: 1;
}
.NotificationsMenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    color: var(--white);
    border-bottom: 1px solid var(--orangedark);
    border-radius: 10px;
    background-color: var(--dark);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}   
.Notification-card {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--dark);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}
.Notification-card-avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.Notification-card-avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 5px;
}
.Notification-card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 5px;
    flex: 1;
}

.Notification-card-content-header {
 width: 100%;
    color: var(--white);
}
.Notification-card-content-header h4 {
    font-size: 1rem;
    margin: 0;
}

.Notification-card-content-header p {
    font-size: 0.8rem;
    color: var(--white);
    margin: 0;
}

.notification-title {
    font-size: 0.95rem;
    font-weight: 500;
    color: var(--white);
}

.notification-time {
    font-size: 0.8rem;
    color: #8b8b8b;
}
